.navbar {
    background-color: #003399;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    animation: slideIn 1s ease;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;

  }

  
  .nav-item {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .content {
    margin: 20px;
    animation: fadeIn 1s ease;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .ButtonStyle {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ButtonStyle:hover {
    background-color: #ff0000;
  }
  
  .ButtonStyle.dashboard {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .menu-line {
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 2px;
    transition: transform 0.3s ease;
  }

  .open {
    transform: rotate(45deg);
  }

